.container{
    position: relative;
    margin: 0 auto 15px auto;

    .title{
        font-weight: 400;
    }

    &.ghost{
        opacity: .7
    }

    .media-left, .media-content, .media-content .content > h1:only-child{
        margin-top: auto;
        margin-bottom: auto
    }

    .media-content{
        &::-webkit-scrollbar{ 
            display: none;
            width: 0px;
            background: transparent
        }
    }
}

.message{
    &.deleted, &.completed{
        pointer-events: none !important;
        user-select: none !important;
        opacity: .7
    }
}