@import 'https://cdnjs.cloudflare.com/ajax/libs/bulma/0.8.0/css/bulma.min.css';

#LOADING, #ERROR, #TOOSMALL{
    z-index: 997;
    position: fixed;
    height: 100%;
    width: 100%;
    top: 0; left: 0;
}

#TOOSMALL{
    z-index: 998;
    display: none;
}

@media only screen and (max-width: 392px) {
    #TOOSMALL{
        display: initial;
    }
}

button.reset {
    text-decoration: underline; 
    cursor: pointer;

    border: none;
    margin: 0;
    padding: 0;
    width: auto;
    overflow: visible;

    background: transparent;

    /* inherit font & color from ancestor */
    color: inherit;
    font: inherit;

    /* Normalize `line-height`. Cannot be changed from `normal` in Firefox 4+. */
    line-height: normal;

    /* Corrects font smoothing for webkit */
    -webkit-font-smoothing: inherit;
    -moz-osx-font-smoothing: inherit;

    /* Corrects inability to style clickable `input` types in iOS */
    -webkit-appearance: none;

    /* Remove excess padding and border in Firefox 4+ */
    &::-moz-focus-inner {
        border: 0;
        padding: 0;
    }

}